name: CI build (Quarkus Native)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-native:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v5

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
          cache: maven

      - name: Build Quarkus Native
        run: |
          ./mvnw clean package -Pnative \
            -Dquarkus.native.container-build=true

      - name: Upload native binary
        uses: actions/upload-artifact@v4
        with:
          name: quarkus-native-runner
          path: target/*-runner
